RewriteEngine On
RewriteCond %{HTTP_HOST} nglitsolutions\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://nglitsolutions.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]


